body {
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    margin: 0 3em 2em 3em;
}

h1 {
    font-family: 'Bebas Neue';
    font-size: 2.2em;
    line-height: 1em;
    margin-bottom: 0;
}

#map {
    height: inherit;
    min-height: 20em;
}

.map-container {
    padding: 0 0 0 2em;
    font-size: .8em;
}

button:focus{
    outline: none;
}

#side-bar {
    position: fixed;
    top: 5em;
    width: inherit;
    border-radius: 5px;
    padding: .6em;
    padding-bottom: 0;
    background-color: #444545;
    color: white;
    min-height: none;
}

#side-bar ul li img {
    width: 2.5em;
    height: 2.5em;
}

#side-bar ul li {
    padding-top: .5em;
}

#side-bar ul li p {
    font-size: small;
    font-weight: 650;
    padding-top: .5em;
    padding-left: 1em;
}

#main h1 {
    margin-top: 1em;
}

#main {
    padding-left: 1em;
    padding-right: 1em;
}

.place {
    color:rgb(214, 74, 74)
}

hr {
    margin-top: 0;
}

.certificados {
    font-size: .7em;
    padding: 0 0 0 1.2em;
}

.certificados img {
    max-height: 9em;
    padding-right: 1em;
}

.certificados figcaption{
    padding-bottom: .5em;
}

.pad {
    padding-top: 2em;
}

@media (max-width: 640px) {
    body {margin: 0 2em 2em 2em;}
    #side-bar {position: static; margin-top: 2em;}
    #main h1 {margin-top: 1em;}
    .map-container {padding: 1.5em 0 0 0;}
    .certificados {padding: 1.5em 0 0 0;}
}