body {
    font-size: medium;
    margin: 2em;
}

h1 {
    font-family: 'Bebas Neue';
    line-height: 1em;
    margin-bottom: 0;
}

#map {
    height: inherit;
    min-height: 16em;
}

.map-container {
    padding-left: 2em;
}

button:focus{
    outline: none;
}

#side-bar {
    position: fixed;
    top: 0;
    width: inherit;
    border: solid 2px rgb(63, 63, 63);
    border-radius: 5px;
    padding: .6em;
    padding-bottom: 0;
    background-color: rgb(196, 196, 196);
    min-height: none;
    margin-left: 1em;
}

#side-bar .me {
    width: 100%;
    border: solid 2px rgb(63,63,63);
    border-radius: 5px;
    margin-bottom: 5px;
}

#side-bar ul li img {
    width: 10%;
    height: 50%;
    min-height: 2em;
    min-width: 2em;
}

#side-bar ul li p {
    font-weight: 650;
    padding-top: 2%;
    padding-left: 3%;
}

#main {
    padding-left: 1em;
    padding-right: 1em;
}

.place {
    color:rgb(214, 74, 74)
}

hr {
    margin-top: 0;
}

.certificados {
    font-size: .7em;
    padding-left: 1.2em;
}

.certificados img {
    height: 10em;
}

.pad {
    padding-top: 2em;
}

@media (max-width: 640px) {
    #side-bar {
        position: static;
    }
}