body {
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    margin: 1em;
}

h1 {
    font-family: 'Bebas Neue';
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: 0;
}

#map {
    height: inherit;
    min-height: 16em;
}

.map-container {
    padding-left: 2em;
}

button:focus{
    outline: none;
}

#side-bar {
    position: fixed;
    top: 2em;
    width: inherit;
    border-radius: 5px;
    padding: .6em;
    padding-bottom: 0;
    background-color: #444545;
    color: white;
    min-height: none;
    max-height: 95%;
    margin-left: 1em;
    font-size: small;
}

#side-bar .me {
    width: 100%;
    padding: .5em;
}

#side-bar ul li img {
    width: 10%;
    height: 50%;
    min-height: 1.5em;
    min-width: 1.5em;
}

#side-bar ul li p {
    font-weight: 650;
    padding-top: 2%;
    padding-left: 3%;
}

#main h1 {
    margin-top: 1em;
}

#main {
    padding-left: 1em;
    padding-right: 1em;
}

.place {
    color:rgb(214, 74, 74)
}

hr {
    margin-top: 0;
}

.certificados {
    font-size: .7em;
    padding-left: 1.2em;
}

.certificados img {
    height: 10em;
}

.pad {
    padding-top: 2em;
}

@media (max-width: 640px) {
    #side-bar {
        width: 90%;
        position: static;
    }
    h1 {
        margin-top: 1em;
    }
}